{% load static %}
<link href="{% static 'blogapp/style2.css' %}" rel="stylesheet" />
<div class="container1">
    <div class="row">
        <div class="col-sm-5 col-md-6 col-12 pb-4">
            <h1>Comments</h1>

            {% for comment in comments %}
                {% include 'blogapp/single_comment.html' with comment_data=comment %}
            {% endfor %}
            
        </div>
        <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
            {% if user.is_authenticated %}
            <form id="algin-form" method="POST" action="{% url 'blogapp:add_comment' post.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <h4>Leave a comment</h4> 
                    <label for="message">Message</label> 
                    <textarea name="msg" id="" msg cols="30" rows="5" class="form-control" style="background-color: black;"></textarea>
                </div>
                <div class="form-group"> 
                    <label for="name">Name</label> 
                    <input type="text" name="name" id="fullname" class="form-control" disabled value="{{user.get_username}}"> 
                </div>
                <div class="form-group"> 
                    <button type="submit" id="post" class="btn">Post Comment</button> 
                </div>
                {% else %}
                <h4>Please <a class="refer" href="{% url 'blogapp:login_user' %}">login</a> to comment on any blog.</h4>
                {% endif %}
            </form>
        </div>
    </div>
</div>